/* 공통 */
body .pageTop {
    right: 5px;
    width: 25px;
    height: 25px;
}

.inner {
    margin: 0 20px;
}

.backTitle {
    height: 150px;
}

.backTitle .inner {
    padding: 0 0 20px;
    gap: 15px;
}

.title {
    padding: 0 0 10px;
}

.title::after {
    width: 25px;
    height: 4px;
}

.table_content {
    /* overflow: auto; */
    overflow: scroll;

}

.table_content table th {
    font-size: 0.9rem;
}

table {
    border-collapse: collapse;
    position: relative;
}

h1 {
    font-size: 1.65rem;
    line-height: 30px;
}

h2 {
    font-size: 1.35rem;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 0.9rem;
}

.source {
    font-size: 0.9rem;
    margin: 5px 0 0;
}

.art1_2 > .inner,
.art2_1 .inner, 
.art2_2 .inner, 
.art2_3 .inner,
.art3_1 .inner,
.art3_3 .inner,
.art4_1 .inner,
.art4_2 .inner {
    padding: 25px 0;
    gap: 20px;
}

.art1_2 .backTitle strong,
.art3_2 .backTitle p,
.art4_3 .backTitle strong {
    font-size: 1rem;
}

.text-hide2 {
    display: none;
}

/*main header*/
header {
    height: 35px;
}

header .more_bt {
    right: 20px;
}

header .gnb {
    top: 35px;
    padding: 30px 20px;
}


header .gnb li {
    margin: 0;
    padding: 10px;
}

header .gnb a.c {
    font-size: 1.4rem;
}

header .logo {
    width: 70px;
    height: 35px;
}

/* sub page: title */
.sec01 {
    margin-top: 35px;
}

.sec01 .inner {
    padding: 20px 0;
}

.sec01 .inner p {
    font-size: 1rem;
}

.sec01 .textBox {
    font-size: 12px;
    margin: 10px 0 0;
}

.sec01 .textBox > span {
    font-size: 0.9rem;
}

/* sub page: tab */
.sec02 .tabButton {
    height: 25px;
}

.sec02 .tabButton .inner {
    margin: 0;
}

.sec02 .tabButton .inner li h2 {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 25px;
}

/* tab Content - tab01 */
/* 대장암이란? */
.art1_1 .inner {
    flex-direction: column;
}

.art1_1 img {
    width: auto;
}

.art1_1 .textBox {
    width: auto;
    margin: 0;
    padding: 20px 0;
}

.art1_1 .textBox h4 {
    margin: 15px 0;
}

.art1_1 .textBox p {
    font-size: 0.9rem;
}

/* 대장암의 누적위험도*/
.art1_2 > .inner div:nth-child(1) {
    text-align: left;
}

.art1_2 > .inner strong {
    font-size: 1.1rem;
}

.art1_2 > .inner p {
    white-space: inherit;
}

.art1_2 > .inner div p:nth-of-type(2) {
    margin-top: 0;
}

.art1_2 > .inner .graph img {
    max-width: 100%;
}

/* 주변 검진기관 찾기 */
.art1_3 {
    height: 150px;
}

.art1_3 .inner {
    padding: 5px 0px;
}

.art1_3 .title h2{
    font-size: 1.2rem;
}

.art1_3 .bubble {
    width: 80vw;
}

.art1_3 .bubble img {
    width: 45%;
}

/* tab Content - tab02 */
/* 발생 원인 및 위험인자 */
.art2_1 .table_content {
    width: 100%;
    padding: 15px 0;
}

.art2_1 .table_content > table {
    min-width: 720px;
}

.art2_1 .table_content > .source {
    min-width: 720px;
}

.art2_1 .table_content table thead th {
    padding: 5px 0;
}

.art2_1 .table_content table tbody td {
    padding: 5px;
}

.art2_1 .table_content table tbody li {
    font-size: 0.85rem;
    padding: 0 0 0 10px;
}

.art2_1 .table_content .subtitle {
    line-height: 20px;
}

.art2_1 .table_content .subtitle::before {
    width: 3px;
    height: 3px;
    left: 5px;
}

.art2_1 .table_content .description {
    white-space: pre-line;
}

/* 대장암 발생과정 */
.art2_2 .content > p {
    font-size: 1rem;
}

.art2_2 .content .more {
    height: 40px;
    overflow: hidden;
    position: relative;
}

.art2_2 .content.active .more {
    height: auto;
}

.art2_2 .content .more::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(transparent, #FFF8F8);
}

.art2_2 .content.active .more::before {
    display: none;
}

.art2_2 .content .more li {
    font-size: 0.95rem;
}

.art2_2 .content .more-btn {
    cursor: pointer;
    display: block;
    font-weight: 600;
    font-size: 0.85rem;
    color: var(--colorFontBasic);
    padding: 3px 10px;
    margin: 15px auto 0 auto;
    background-color: transparent;
    border: 1px solid var(--colorFontBasic);
    border-radius: 5px;
    position: relative;
}

.art2_2 .content .more-btn:hover,
.art2_2 .content.active .more-btn {
    color: var(--colorSky);
    background-color: var(--colorFontBasic);
}

.art2_2 .content .more-btn::before {
    content: "더보기";
}

.art2_2 .content.active .more-btn::before {
    content: "접기";
}

.art2_2 .swiper-wrapper {
    flex-wrap: nowrap;
    gap: 0;
    padding: 0;
    margin: 20px 0 0;
}

.art2_2 .progress .card {
    flex: none;
}

.art2_2 .swiper-pagination-bullet {
    display: inline-block;
    opacity: 1;
    background-color: var(--colorSky);
}

.art2_2 .swiper-pagination-bullet-active {
    background-color: var(--colorRed);
}

.art2_2 .swiper-horizontal > .swiper-pagination-bullets,
.art2_2 .swiper-pagination-bullets.swiper-pagination-horizontal,
.art2_2 .swiper-pagination-custom, 
.art2_2 .swiper-pagination-fraction {
    position: relative;
    bottom: 0;
    margin: 5px 0 0;
}

.art2_2 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, 
.art2_2 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

/* 국내 대장암 발생 및 사망 통계 */
.art2_3 .graphcard {
    gap: 30px;
}

.art2_3 .graphcard .card {
    width: 100%;
    padding: 18px;
}

.art2_3 .graphcard .card img {
    margin: 0 0 15px;
    border-radius: 10px;
}

.art2_3 .graphcard .card > p {
    margin: 10px 0;
    line-height: 16px;
}

.art2_3 .graphcard .sourceBox > div {
    font-size: 0.9rem;
    line-height: 15px;
    padding: 4px 10px;
}

/* tab Content - tab03 */
/* 대장암의 증상 */
.art3_1 .content > p:nth-of-type(2) span {
    display: block;
}

.art3_1 .table_content {
    width: 90%;
    padding: 15px 0;
}

.art3_1 .table_content li {
    font-size: 0.9rem;
    margin: 2px 0;
}

.art3_1 .table_content > table {
    min-width: 430px;
}

.art3_1 .table_content > .source {
    min-width: 430px;
}

/* 대장암의 병기 */
.art3_2 .backTitle p > span {
    display: none;
}

.art3_2 > .inner {
    padding: 25px 0;
}

.art3_2 > .inner > p {
    font-size: 1.05rem;
}

.art3_2 > .inner .content {
    flex-direction: column;
}

.art3_2 > .inner img {
    max-width: 100%;
}

.art3_2 > .inner .right {
    width: auto;
    padding: 0;
}

.art3_2 > .inner .textBox {
    margin: 12px 0 0;
}

.art3_2 > .inner .textBox:nth-child(1) {
    margin: 10px 0 0;
}

.art3_2 > .inner .textBox > strong {
    font-size: 1rem;
    padding: 0 0 0 20px;
}

.art3_2 > .inner .textBox > p {
    font-size: 0.95rem;
    padding: 0 0 0 20px;
}



/* 병기에 따른 대장암의 분류 */
.art3_3 .content {
    width: 100%;
}

.art3_3 .tab {
    justify-content: space-evenly;
}

.art3_3 .tabH {
    width: 100%;
}

.art3_3 .content img{
    width: 100%;
}

.art3_3 .tab-button {
    height: auto;
    font-size: 0.95rem;
    padding: 2px 12px;
}

.art3_3 .tab-content {
    margin: 15px 0 0;
}

.art3_3 .tabBox {
    font-size: 1rem;
}

/* tab Content - tab04 */
/* 대장암 치료방법 */
.art4_1 .swiper-wrapper {
    flex-wrap: nowrap;
    gap: 0;
    padding: 0;
    margin: 20px 0 0 0;
}

.art4_1 .treatment .card {
    flex: none;
    padding: 20px 15px;
}

.art4_1 .treatment .card:hover {
    transform: none;
}

.art4_1 .treatment .method > p:last-child {
    margin-top: 10px;
}

.art4_1 .swiper-pagination-bullet {
    display: inline-block;
    width: 17px;
    height: 17px;
    text-align: center;
    font-size: 11px;
    color: var(--colorFontBasic);
    opacity: 1;
    background-color: var(--colorSky);
}

.art4_1 .swiper-pagination-bullet-active {
    color: #fff;
    background-color: var(--colorRed);
}

.art4_1 .swiper-horizontal > .swiper-pagination-bullets,
.art4_1 .swiper-pagination-bullets.swiper-pagination-horizontal,
.art4_1 .swiper-pagination-custom,
.art4_1 .swiper-pagination-fraction {
    position: relative;
    bottom: 0px;
    line-height: 17px;
    margin: 10px 0 0;
}

.art4_1 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.art4_1 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}

/* 병기에 따른 치료 방법 */
.art4_2 .content h4 {
    white-space: inherit;
}

.art4_2 .table_content{
    width: 95%;
    padding: 20px 0;
}

.art4_2 .table_content > table,
.art4_3 .table_content > table {
    min-width: 540px;
}

.art4_2 .table_content > .source,
.art4_3 .table_content > .source {
    min-width: 540px;
}

.art4_2 .table_content table th,
.art4_3 .table_content table th {
    padding: 5px 0;
}

.art4_2 .table_content table td,
.art4_3 .table_content table td {
    padding: 5px 0;
    font-size: 0.85rem;
}

/* 대장암의 예후 */
.art4_3 > .inner {
    padding: 25px 0;
}

.art4_3 > .inner h4 {
    white-space: inherit;
}

.art4_3 .table_content {
    padding: 20px 0;
}
/* footer */
.fnb a,
.fnb span,
.fnb p {
    font-size: 0.8rem;
}

.fnb .inner {
    padding: 20px 0;
}

.fnb .top .sns .ico_wh {
    font-size: 12px;
    padding: 4px 8px;
}

.fnb .top .logo > img {
    width: 70%;
}

.fnb .bottom address a:nth-child(3) {
    display: inline-block;
}