@charset "utf-8";
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 공통선언 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: keep-all;
    outline: 1px solid blue;
}