@charset "utf-8";
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


/* 공통선언 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: keep-all;
    /* outline: 1px solid blue; */
}

body {
    min-width: 1500px;
}

body .pageTop{
    position: fixed;
    right: 5%; bottom: 5%;
    width: 50px; height: 50px;
    background: url(/img/드림프로젝트/mainpage/Arrow_upward_sky.png) 50% 50% no-repeat;
    z-index: 5;
    border: none;
    text-indent: -1000px;
    overflow: hidden;
    cursor: pointer;
}

:root {
    font-family: 'Noto Sans KR', sans-serif;
    --colorRed: #DD454F;
    --colorPink: #FF9C9C;
    --colorLightpink: #FFF8F8;
    --colorSky: #DDF3FF;  
    --colorFontBlack: #000000;
    --colorFontBasic: #383838;
    --colorFontLight: #808080;
    --colorFontWhite: #ffffff;    
}

section,
.section {
    width: 100%;
}

.inner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

li {
    list-style-type: none;
}

a:link, 
a:visited {
    text-decoration: none;
    color: inherit;
}

/*main header*/
header {
    height: 80px;
    width: 100%;
    background: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

nav.inner {
    justify-content: space-between;
}

nav.inner .logo {
    width: 110px; height: 80px;
    display: block;
    text-indent: -1000px;
    overflow: hidden;
    background: url(/img/드림프로젝트/mainpage/logo2_project.png) no-repeat 50% 50%/ cover;
}

nav.inner .gnb {
    display: flex; 
    align-items: center;
}

nav.inner .gnb li {
    margin-right: 55px;
}

nav.inner .gnb li:nth-child(4) {
    margin-right: 0;
}

nav.inner li > a {
    padding: 10px 5px;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
}

nav.inner li > a:hover {
    color: var(--colorRed);
}