/* 공통 */
body .pageTop{
    right: 5px; 
    width: 25px;
    height: 25px;
}

.inner {
    margin: 0 20px;
}

.title {
    padding: 0 0 10px;
}

.title::after {
    width: 25px;
    height: 4px;
}

h1 {
    font-size: 2rem;
    line-height: 33px;
}

h2 {
    font-size: 1.5rem;
    line-height: normal;
}

h4 {
    font-size: 1rem;
    line-height: normal;
}

.art1_1 .inner,
.art2_1 .inner,
.art2_2 > .inner,
.art2_3 .inner {
    padding: 25px 0;
}

.art1_1 .inner,
.art2_1 .inner {
    gap: 15px;
}

/*main header*/
header {
    height: 35px;
}

header .more_bt {
    right: 20px;
}

header .gnb {
    top: 35px;
}

header .logo {
    width: 70px;
    height: 35px;
}

/* sub page: title */
.sec01 .inner {
    padding: 20px 0;
}

.sec01 .inner p {
    font-size: 1.1rem;   
}

.sec01 .textBox {
    margin: 10px 0 0;
}

.sec01 .textBox > span {
    font-size: 1rem;
}

/* sub page: tab */
.sec02 .tabButton {
    height: 25px;
}

.sec02 .tabButton .inner li h2 {
    font-size: 0.95rem;
    line-height: 25px;
}

/* tab Content - tab01 */
/* 대장암 검진방법 */
/* swiper: slide card */
.art1_1 .destorySwiper {
    margin: 20px 0 0;
}

.art1_1 .destorySwiper .slide_card dl {
    padding: 0 15px 10px;
}

.art1_1 .destorySwiper .slide_card dt {
    font-size: 1rem;
    line-height: 22px;
}

.art1_1 .destorySwiper .slide_card dd {
    font-size: 1rem;
    padding: 0 0 0 10px;
    margin: 0px 0 3px 0;
}

.art1_1 .destorySwiper .slide_card dd::before {
    width: 4px;
    height: 4px;
    top: 8px;
}

/* footer */
.fnb a, 
.fnb span,
.fnb p { 
    font-size: 0.8rem;
}

.fnb .inner {
    padding: 20px 0;
}

.fnb .top .sns .ico_wh {
    font-size: 12px;
}

.fnb .top .logo > img {
    width: 70%;
}

.fnb .bottom address a:nth-child(3) {
    display: inline-block;
}
