@charset "utf-8";

/* main header */
nav.inner .gnb {
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 50px;
    right: 0;
    padding: 50px 20px;
    width: 100%;
    height: 100vh;
    background-color: rgba(221, 69, 79, 0.8);
    transform: translateX(100%);
    transition: transform 0.5s;
}

nav.inner .gnb.on {
    height: 100vh;
    transform: translateX(0%);
    transition: transform 0.5s;
}

nav.inner .gnb li {
    margin: 0;
    padding: 15px;
}

nav.inner li > a {
    font-size: 1.8rem;
    color: var(--colorFontWhite);
}

nav.inner li > a:hover {
    color: var(--colorFontBlack);
}

nav.inner .more_bt {
    display: block;
    position: absolute;
    top: auto;
    right: 40px;
}