@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

.inner {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto; 
    padding: 40px 0 0;
}

h1 {
    font-weight: bold; 
    font-size: 40px;
    text-align: center;
    color: blue;
}

.sec {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 325px;
}

.sec:nth-of-type(2) {
    flex-direction: row-reverse;
    margin: 60px 0;
}

.bg:nth-of-type(1) {
    background: url(/img/빨래방/빨래방_즐거움1.png) no-repeat 0 / 690px 325px;
}

.bg:nth-of-type(2) {
    background: url(/img/빨래방/빨래방_아늑함1.png) no-repeat 0 / 690px 325px;
    background-position-x: right;
}

.bg:nth-of-type(3) {
    background: url(/img/빨래방/빨래방_건강1.png) no-repeat 0 / 690px 325px;
}

.textbox {
    width: 440px;
    margin: 0 0 0 70px;
    font-family: "Roboto";
}

.sec:nth-of-type(2) .textbox {
    margin: 0 70px 0 0;
}

.textbox > span {
    font-weight: 600; font-size: 1.125rem;
    line-height: 21px;
    color: #00B9D2;
}

.textbox > h2 {
    font-weight: bold; font-size: 3.125rem;
    line-height: 50px;
    margin: 10px 0 45px 0;
}

.textbox > p {
    font-weight: 500; font-size: 1rem;
    line-height: 1.7; letter-spacing: -0.04em;
    color: #353535; 
}

@media all and (min-width: 745px) and (max-width: 1280px) {
    .inner {
        width: 100%;
        padding: 40px 40px 0;
    }

    .sec {
        justify-content: center;
        align-items: flex-end;
        height: 100%;
    }


    .textbox {
        width: 100%;
        margin: 0 50px;
    }

    .sec:nth-of-type(2) .textbox {
        margin: 0 50px;
    }

    .textbox > h2 {
        height: 100%;
        font-size: 2.1875rem; 
        line-height: 35px;
        margin: 15px 0 25px 0;
    }



}