@charset "utf-8";

h1 {
    letter-spacing: 5px;
    background-color: lawngreen;
    /* word-spacing: 20px; */
}
/* 글자 또는 단어 사이의 간격 (간격=spacing)
    1) letter-spacing: 글자 사이의 간격
    2) word- spacing: 단어 사이의 간격 */

p {
    width: 500px;
    text-align: justify;
    text-indent: 15px;
    text-transform: lowercase;
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */
}

/* 대소문자 변경 실행: text-transform 
   lowercase: 소문자로 변경 
   uppercase: 대문자로 변경
   capitalize: 첫글자만 대문자로 변경 (애초에 대문자인 경우는 변화없음)*/

   