@charset "utf-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 1px solid rosybrown;
}
/* box-sizing: 테두리 영역 크기를 결정하는 요소
   속성: content-box(기본값) / border-box  
    1) content-box (기본값)
        : 지정한 width[가로], height[높이] 값을 컨텐츠 영역에만 적용하는 것.
    2) border-box
        : 지정한 width[가로], height[높이] 값을 전체 영역에 적용하는 것*/
 /* *{]는 전체 초기화한다는 의미 */

.inner {
    width: 1200px;
    margin: 0 auto;
}
/*  중요! margin: 0 auto; */

h1 {
    font-size: 4rem;
    text-align: center;
    color: #888;
}

section {
    margin: 60px 0 0 0;
    display: flex;
    /* align-items: center; 세로 가운데지정*/
}

section img {
    flex: 0 0 690px;
    /* width: 690px; */
    /* height: 325px; */
}

section .txtBox {
    flex: 1 1 0;
    margin: 70px 0 0 70px;
    /* 마진 시계방향으로 돌아감 상>우>하>좌 */
    /* margin: 0 0 0 70px; → align-items: center; 적용해씅ㄹ 경우*/
}

section:nth-of-type(2) .txtBox {
    margin: 70px 70px 0 0;
    /* margin: 0 70px 0 0; → align-items: center; 적용했을때 */
    /* 글단락과 이미지 변경된 만큼 마진 위치도 변경해줘야함 */
    /* 두번째 글단락과 이미지 위치 변경 */
}

.txtBox span {
    font-size: 1.1rem;
    /* 16px을 rem으로 바꿔서 작성한 것 */
    font-weight: bold;
    /* bold 또는 500; */
    color: #00B9D2;
}

.txtBox h2 {
    font-size: 3.125rem;
    margin: 10px 0 45px 0;
}

.txtBox p {
    line-height: 1.7;
    /* 행간 */
}

/* 
* {

    padding: 0px;
    margin: 0px;
    outline: 1px solid purple;
}

h1 {
    font-size: 50px;
    color: gray;
}
section {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: 325px;    
}

section div {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
}


.textbox {
    margin-left: 70px;
    width: 440px;
}

.textbox span {
    font: bold 18px "Roboto";
    color: #00B9D2;
}

.textbox h2 {
    font: bold 50px "Roboto";
}

.textbox p {
    font: 16px "Roboto";
} */